@font-face {
    font-family: "Peanotes";
    src: url(/assets/fonts/Peanotes-Regular.otf) format(opentype);
    font-style: normal;
    font-weight: normal;
}

:root {
    --blue: #254891;
    --red-light: #CD3133;
    --red-dark: #841313;
    --white: #FFFFFF;
    --black: #1E1E1E;
    --h1-font: "Peanotes", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    color: var(--black);
    background-color: var(--blue);
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem 0;
    font-family: var(--h1-font);
    font-size: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

label {
    font-size: 2rem;
    font-family: var(--h1-font);
}

select {
    font-size: 1.5rem;
    font-family: Arial, sans-serif;
    padding: 0.5rem 1rem;
    border: 2px solid var(--black); 
    border-radius: 5px; 
    background-color: var(--white); 
    outline: none;
    cursor: pointer; 
}

select:focus {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Ljusglöd vid fokus */
    border-color: #CD3133;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.christmas-decor {
    height: 100%;
    overflow: hidden;
}
.christmas-decor img {
    width: 200%;
    margin-bottom: -0.5rem;
    height: auto;
    object-fit: cover;
}

@media (min-width: 768px) {
    .christmas-decor img {
        width: 100%
    }
}