* {
    box-sizing: border-box;
    margin: 0;
}

.calendar-container {
    width: 70%;
    height: auto;
    margin: 0 auto;
}

.calendar-list {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 1rem;
    padding: 0 1rem;
    gap: 1rem;
    list-style: none;
}

.calendar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10rem;
    border-radius: 0.5rem;
}

.calendar-item:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
}

.calendar-door {
    width: 100%;
    height: 10rem;
    border-radius: 0.5rem;
    border-style: none;
    background-color: salmon;
    color: white;
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.3s ease; 
    transform-origin: left;
}

.calendar-door.open {
    transform: rotateY(180deg); 
}

.calendar-door .front {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.2rem dashed rgba(0, 0, 0, 0.7);
    border-radius: 0.5rem;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: salmon;
    color: white;
    font-size: 2rem;
}

.calendar-door .back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    transform: rotateY(180deg);
    backface-visibility: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: white;
    font-size: 1.5rem;
}

.content-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9); /* Slightly transparent background */
    display: none; /* Initially hidden */
    padding: 10px;
    border-radius: 0.5rem;
    overflow: hidden;
    z-index: 1;
}